<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="form-wrapper">
        <form action="/auth/profile/?_method=PUT" method="POST">
            <label for="username">Username</label>
            <input class="user-info-field" type="text" name="username" id="username" value="<%= user.username %>">
            <% if (errors.username) { %>
                <p class="error-message"><%= errors.username.message %></p>
            <% } %>
            <label for="email">E-mail Address</label>
            <input class="user-info-field" type="text" name="email" id="email" value="<%= user.email %>">
            <% if (errors.email) { %>
                <p class="error-message"><%= errors.email.message %></p>
            <!-- <% } %>
            <label for="password">Password</label>
            <input class="user-info-field" type="password" name="password" id="password">
            <% if (errors.password) { %>
                <p class="error-message"><%= errors.password.message %></p>
            <% } %>
            <label for="password2">Confrim Password</label>
            <input class="user-info-field" type="password" name="password2" id="password2"> -->
            <!-- This is where we'll need to add further info/tags in phase 2 -->
            <button type="submit">Update Profile</button>
        </form>
    </div>
</body>
</html>