<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <% if(message) { %>
        <p class="success-message"><%= message %></p>
    <% } %>
    <h1>All Our Sparks</h1>
    <div class="card-wrapper">
        <% allSparks.forEach(Spark => { %>
            <a href="/sparks/<%= Spark._id %>">
                <div class="spark-card">
                    <div class="spark-card-title">
                        <%= Spark.title %>
                    </div>
                    <div class="spark-card-img">
                        <img src="/images/painted-hands-kid.jpg" alt="Young child holding hands up showing they are covered in brightly coloured paints.">
                    </div>
                    <div class="spark-card-blurb">
                        <%= Spark.description %>
                    </div>
                    <div class="spark-card-tags">
                        <p>NO TAGS YET</p>
                    </div>
                    <div class="spark-card-rating">
                        <p>*****</p>
                    </div>
                </div>
            </a>
        <% }) %>    
    </div>
</body>
<!-- Link to Scripts -->
    <script src="/scripts/scripts.js"></script>
</html>