<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <div class="profile-content">
        <h1>Welcome to your profile area <%= user.username %> </h1>
        <ul>
            <li>
                <h3>Username <%= user.username %></h3>
            </li>
            <li>
                <h3>email <%= user.email %></h3>
            </li>
        </ul>

    </div>


</body>
<!-- Link to Scripts -->
    <script src="/scripts/scripts.js"></script>
</html>