<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= spark.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- include('../partials/head') %>
    
</head>
<header>
    <%- include('../partials/header') %>
</header>
<body>
    <div class="show-spark-main">
        <h1><%= spark.title %></h1>
        <p>Created by <%= spark.creator.username %></p>
        <div class="show-spark-content">
            <h2>Resources</h2>
            <p><%= spark.resources %></p>
        </div>
        <div class="show-spark-content">
            <h2>Description</h2>
            <p><%= spark.description %></p>
        </div>
        <div class="show-spark-content">
            <h2>Variations</h2>
            <p><%= spark.variations %></p>
        </div>
    </div>

    <% if(user && spark.creator._id.equals(user._id)) { %>
    <div class="links-wrapper">
        <div class="links-column">
            <form action="/sparks/<%= spark._id %>?_method=DELETE" method="POST">
                <button class="link-btn shadow-none" type="submit">Delete This Spark</button>
            </form>
        </div>
        <div class="links-column">
            <div class="link-btn">
                <a href="/sparks/<%= spark._id %>/edit">Edit This Spark</a>
            </div>
        </div>
    </div>
    <% } %>
    <h2>Comments</h2>
    

    <!-- Create New Comment -->


</body>
<!-- Link to Scripts -->
    <script src="/scripts/scripts.js"></script>
</html>